*{
margin:0 auto;
padding:0;
}
.background{
background:#cfd6e8;
height:50px;
padding:10px 50px;
color:#5566ac;
}
.background h1{
margin-top:-5px;
}
.logo{
width:30%;
float:left;
padding-left:220px;
}
.menu{
width:50%;
float:right;
padding-top:10px;
text-align:right;
}
.menu ul li{
list-style-type:none;
}
.menu ul li a{
text-decoration:none;
color:#5566ac;
float:left;
margin-right:15px;
font-weight:bold;
padding:5px 15px;
border-radius:20px;
}
.menu ul li a.active{
background:#edeaf1;
color:#000;
}
.menu ul li:hover a{
background:#edeaf1;
color:#000;
}
.image{
width:100%;
position:absolute;
left:0px;
top:70px;
}
.color{
background:#dadfeb;
width:100%;
height:1000px;
position:absolute;
left:0px;
top:490px;
}
.wcm{
position:absolute;
left:270px;
top:25px;
text-transform:uppercase;
font-size:24px;
color:#132445;
font-family:sans-serif;
}
button{
background:#6379b3;
padding:10px;
text-transform:uppercase;
border:5px solid #fff;
border-radius:5px;
width:340px;
height:95px;
position:absolute;
left:820px;
top:10px;
}
.box1{
width:220px;
height:315px;
background:white;
position:absolute;
left:270px;
top:160px;
}
.image1{
padding-top:20px;
padding-left:20px;
}
.title1{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.text1{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.button1{
background:#e0e2e8;
border-radius:30px;
width:110px;
height:25px;
position:absolute;
left:20px;
top:280px;
text-align:center;
padding-top:5px;
text-decoration:none;
}
.box2{
width:220px;
height:315px;
background:white;
position:absolute;
left:520px;
top:160px;
}
.image2{
padding-top:20px;
padding-left:20px;
}
.title2{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.text2{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.button2{
background:#e0e2e8;
border-radius:30px;
width:110px;
height:25px;
position:absolute;
left:20px;
top:280px;
text-align:center;
padding-top:5px;
text-decoration:none;
}
.box3{
width:220px;
height:315px;
background:white;
position:absolute;
left:770px;
top:160px;
}
.image3{
padding-top:20px;
padding-left:20px;
}
.title3{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.text3{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.button3{
background:#e0e2e8;
border-radius:30px;
width:110px;
height:25px;
position:absolute;
left:20px;
top:280px;
text-align:center;
padding-top:5px;
text-decoration:none;
}
.box4{
width:220px;
height:315px;
background:white;
position:absolute;
left:1020px;
top:160px;
}
.image4{
padding-top:20px;
padding-left:20px;
}
.title4{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.text4{
padding-top:10px;
padding-left:20px;
color:#132445;
}
.button4{
background:#e0e2e8;
border-radius:30px;
width:110px;
height:25px;
position:absolute;
left:20px;
top:280px;
text-align:center;
padding-top:5px;
text-decoration:none;
}
.head1{
width:220px;
height:130px;
position:absolute;
left:270px;
top:510px;
}
.heading{
color:#132445;
float:right;
padding-right:60px;
padding-top:15px;
}
.lorem{
color:#132445;
}
.head2{
width:220px;
height:130px;
position:absolute;
left:520px;
top:510px;
}
.head3{
width:220px;
height:130px;
position:absolute;
left:270px;
top:660px;
}
.head4{
width:220px;
height:130px;
position:absolute;
left:520px;
top:660px;
}
.company{
width:465px;
height:280px;
position:absolute;
left:770px;
top:510px;
}
.title{
color:#132445;
}
.text{
padding-top:30px;
color:#132445;
}
.button{
width:110px;
height:25px;
position:absolute;
left:0px;
top:340px;
}
.footer{
width:100%;
height:120px;
background:#565f81;
position:absolute;
left:0px;
top:1400px;
}
.footer ul{
display:block;
padding-left:270px;
}
.footer ul li{
list-style-type:none;
}
.footer ul li a{
color:white;
text-decoration:none;
float:left;
margin-right:15px;
border-right:1px solid white;
padding-right:15px;
padding-top:20px;
}
.footer ul li:last-child a{
border-right:none;
}
.webcorp{
color:#979fb6;
position:absolute;
left:270px;
top:50px;
}
.icons{
color:#979fb6;
position:absolute;
left:270px;
top:80px;
}
.com{
color:white;
}
.connect{
color:white;
position:absolute;
left:960px;
top:25px;
}
.telegram{
position:absolute;
left:1085px;
top:25px;
}
.facebook{
position:absolute;
left:1125px;
top:25px;
}
.linkedin{
position:absolute;
left:1165px;
top:25px;
}
.email{
position:absolute;
left:1215px;
top:30px;
}